body {
    background: url(../img/bg.jpg) center;
    height: 1400px;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica", "Arial", sans-serif;
}
.logo {
    background: url(../img/logo.png);
    position: absolute;
    top: 40px;
    left: 16px;
    width: 435px;
    height: 83px;
}

header {
    background: url(../img/bg-glass.png);
    width: 900px;
    height: 133px;
    margin: auto;
    position: relative;
}

.donate {
    background: url(../img/donate-button.png);
    position: absolute;
    right: 16px;
    top: 40px;
    width: 85px;
    height: 41px;
}

.donate:hover{
    background-position: right top;
    background-position: 85px 0px;
}

nav{
    position:absolute;
    left: 34px;
    top: 133px;
}

nav a{
    position: relative;
    float:left;
    margin: 0px 6px;
    width: 67px;
    height: 39px;
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    text-decoration: none;
    color: #90abc0;
}

nav a:hover, #current{
    background:  linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 100%); 
    color: #fff;
}

h1{
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 24px;
    color: #fff;
    margin: 0px;
}

p, address, time {
    font-size: 13px;
    color: #ccc;
}

a {
    color: #5a92df;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

.special {
    color: #99771c;
}

#main-index {
    padding-top: 95px; 
    padding-left: 20px; 
    padding-bottom: 58px;
}

#main-donate {
    padding-left: 20px;
    padding-top: 102px;
    padding-bottom: 166px;
}

#main-donate p{
    margin-top: 38px;
    margin-bottom: 40px;
}

#main-donate section {
    width: 450px;
    margin-left: 272px;
}

#main-play {
    
}

.main{
    width: 840px;
    margin: 39px auto;
    top: 20px;
    position: relative;
    background: black;
    
    border: 0px solid black;
    border-radius: 5px;
}

.white {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    left: -20px;
    top: -20px;
    background: #ffffff16;
    
    border: 1px solid #ffffff40;
    border-radius: 10px;
    z-index: -1;
}

#sec1 p{
    width: 336px;
    margin-top: 36px;
    margin-bottom: 61px;
}
#sec2 p{
    width: 540px;
    margin-top: 36px;
    margin-bottom: 61px;
}
#sec3 p{
    width: 566px;
    margin-top: 36px;
    margin-bottom: 0px;
}
#africa{
    background: url(../img/africa.png);
    width: 478px;
    height: 620px;
    position: absolute;
    right: 0px;
    top: 0px;
}
#heart{
    position: absolute;
    left:0px;
    top: 46px;
    width: 233px;
    height: 280px;
    background: url(../img/heart.png);
}

#paypall {
    float:right;
    width: 240px;
    height: 40px;
    background: url(../img/paypal.jpg);
    margin-right: 330px;
    margin-bottom: 20px;
}

#wepay {
    float: right;
    width: 240px;
    height: 40px;
    background: url(../img/wepay.jpg);
    margin-right: 330px;
}

table{
    background: #321000;
}
